html {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FDFDFD;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  color: #f3827c;
  position: fixed;
}

.Appbar {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.content {
  padding-top: 10%;
}

.cal_container {
  display: flex;
  padding-top: 2%;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
}

.outer {
  text-align: center;
}

.inner {
  display: inline-block;
}

.main_view {
  width: 48%;
  height: 90%;
}

.map_render {
  width: 100%;
  height: 60vh;
}

/* Itinerary */
.iti_container {
  display: flex;
  padding-top: 2%;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
}

.day_item {
  background-color: #dfe0de;
  margin: 4%;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 25px;
  color: 	#4f5e5d;
  height: 17vh;
  transition: transform 0.4s;
}

.day_item:hover{
  transform: translate(10px, 2px);
}

.day_item h3{
  text-align: left;
  padding-left: 25px;
}

/* subzone*/

.sub_zone_item{
  text-align: left;
  padding-left: 25px;
  margin: 1.5%

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
