html {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  color: white;
  position: fixed;
}

.Appbar {
  margin: 0;
  font-weight: bold;
  text-align: left;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.content {
  padding-top: 10%;
}

.iti_container {
  display: flex;
  padding-top: 2%;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
}

.main_view {
  width: 48%;
  height: 90%;
}

.day_item {
  background-color: #666;
  margin: 5%;
  padding-top: 5px;
  padding-bottom: 20px;
}

.map_render {
  width: 100%;
  height: 60vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
